@font-face {
    font-family: comfortaa;
    src: url(assets/comfortaaFont/Comfortaa-Medium.ttf);
}

body {
    font-family: comfortaa;
}

.photo {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-size: contain
}